@media screen and (max-width: 1300px) {
	.story-list .list .story{
		width: 65px;
		height: 65px;
		margin: 5px 5px;
	}
}
@media screen and (max-width: 1200px) {
	.music-list2 .music .info-holder{
		margin-right: 20px;
	}
	.music-list .list .music,.all-artists .music,.all-artists .delete-music{
		width: 22%;
	}
}
@media screen and (max-width: 1100px) {
	.music-list2 .music{
		width: 100%;
	}
	.music-list2 .music .img{
		width: 10%;		
	}
	.account-fixed-box .box, .fixed-new-playlist .box,.p-list-edit-box .edit-box, .p-list-delete-box .delete-box, .add-music-box .add-box,.music-text-box .text-box{
		width: 35%;
	}
}
@media screen and (max-width: 1000px) {
	.right-sidebar{
		/*display: none;*/
		position: fixed;
		z-index: 10;
		background:#141316;
		width: 25%;
		top: 0;
		padding-top: 30px;
		right: -100%;
		padding-right: 3%;	
		transition: right .2s;
	}

	.left-body .header ul .menu-toggle{
		display: inline-block;
	}

	.left-body{
		width: 100%;
	}
	.music-list2 .music .img{
		width: 12%;
	}
	.story-list .list .story{
		width: 72px;
		height: 72px;
		margin: 5px 5px;
	}
	.address-box{
		display: none;
	}
	.side-menu ul .main{
		display: none;
	}
	.side-menu ul .main-responsive{
		display: list-item;
	}
	.left-body .header ul li{
		display: none;
	}
	.account-fixed-box .box, .fixed-new-playlist .box,.p-list-edit-box .edit-box, .p-list-delete-box .delete-box, .add-music-box .add-box,.music-text-box .text-box{
		width: 40%;
	}
}
@media screen and (max-width: 900px) {
	.music-list2 .music .img{
		width: 14%;
	}
	.music-list .list .music,.all-artists .music,.all-artists .delete-music{
		width: 30%;
		height: 290px;
		margin: 10px 1.5%;
	}
	.right-sidebar{
		width: 30%;
	}
	.account-fixed-box .box, .fixed-new-playlist .box,.p-list-edit-box .edit-box, .p-list-delete-box .delete-box, .add-music-box .add-box,.music-text-box .text-box{
		width: 45%;
	}
	.res-single-btns{
		display: inline-block;
	}
	.right-single-btns{
		display: none;
	}
}
@media screen and (max-width: 800px) {
	.music-list2 .music .img{
		width: 16%;
	}
	.music-player .volume-box .icon-holder{
		display: none;
	}
	.music-player .volume-box{
		width: 150px;
	}
	.music-player .volume-box .range-holder{
		width: 70%;
	}
	.right-sidebar{
		width: 34%;
	}
	.empty-box .img{
		width: 50%;
	}
	.empty-box .des{
		width: 70%;
	}
	.avatar-upload{
		display: block;
		float: unset;
		margin: auto;
		margin-bottom: 20px;
		height: 110px;
		width: 110px;
	}
	.profile-edit-box .content form input{
		width: 45%;
	}
	.profile-edit-box .content form button{
		width: 47%;
	}
	.information .content{
		height: unset;
	}
	/*.profile-edit-box .content form input, .profile-edit-box .content form button, .password-box .content form .password-inp{
		width: 45%;
	}*/
	.account-fixed-box .box, .fixed-new-playlist .box,.p-list-edit-box .edit-box, .p-list-delete-box .delete-box, .add-music-box .add-box,.music-text-box .text-box{
		width: 50%;
	}
	.search-box{
		width: 250px;
	}

}
@media screen and (max-width: 700px) {
	.music-list2 .music .img{
		width: 18%;
	}
	.footer .footer-links a{
		width: 25%;
	}
	.audio-player{
		display: none;
	}
	.responsive-audio-player{
		display: inline-block;
	}
	.audio-player .controls .buttons-container .button:not(.play):not(.pause):not(.music-player2 .audio-player .button){
		display: none;
	}
	.audio-player .controls .buttons-container .play:not(.music-player2 .audio-player .button),.audio-player .controls .buttons-container .pause:not(.music-player2 .audio-player .button){
		position: relative;
		transform: unset;
	}
	.music-player .volume-box{
		display: none;
	}
	.audio-player .controls{
		float: left;
	}
	.audio-player .controls .buttons-container.center:not(.music-player2 .controls .buttons-container){
		position: static;
		transform: unset;
		margin-top: 15px;
	}
	.music-player2 .controls .buttons-container{
		text-align: center;
	    width: 100%;
	}
	.audio-player:not(.music-player2 .audio-player){
		cursor: pointer;
	}
	.right-sidebar{
		width: 38%;
	}
	.call-us-box form button{
		margin-top: 0;
	}
	.single-app-box .left-side{
		display: none;
	}
	.single-app-box .right-side{
		width: 100%;
	}
	.single-app-box .right-side .text{
		width: 100%;
	}
	.password-box .content form .password-inp input{
		width: 85%;
	}
	.account-fixed-box .box, .fixed-new-playlist .box,.p-list-edit-box .edit-box, .p-list-delete-box .delete-box, .add-music-box .add-box,.music-text-box .text-box{
		width: 55%;
	}
	.single-box .img-holder,.play-list-box .i-holder{
		position: static;
		transform: unset;
	}
	.single-box .holder{
		width: 100%;
	}
	.single-box .holder img{
	    display: block;
	    margin: auto;
	}
	.single-box .info-bar{
		position: relative;
		top: unset;
		transform: unset;
		display: inline-block;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	.single-singer .info-bar{
		margin-top: 100px;
	}
	.single-box .background{
		display: none;
	}
	.single-singer .background{
		display: unset!important;
	}
	.single-box{
		background: #17171a;
		height: unset;
	    /*display: inline-block;*/
	}
	.single-buttons{
		margin-top: 20px;
	}
	.responsive-playlist{
		display: inline-block;
	}
	.none-responsive-playlist{
		display: none!important;
	}
	/*.single-box .holder*/
}
@media screen and (max-width: 600px) {	
	.music-list2 .list ul{
		padding: 0;
	}
	.story-list .list{
		text-align: center;
	}
	.music-list2 .music .img{
		width: 20%;
	}
	.story-list .list .story{
		width: 60px;
		height: 60px;
		margin: 5px 5px;
	}
	.music-list .list .music,.all-artists .music,.all-artists .delete-music{
		width: 46%;
		margin: 10px 2%;
	}
	.footer .footer-links a{
		width: 40%;
	}
	.right-sidebar{
		width: 42%;
	}
	.left-body .header ul li:not(.menu-toggle){
		display: none;
	}
	.call-us-box .img{
		display: none;
	}
	.call-us-box form{
		width: 100%;
	}
	.empty-box .img{
		width: 80%;
	}
	.empty-box .des{
		width: 70%;
	}
	.password-box .content form .password-inp input{
		width: 80%;
	}
	.account-fixed-box .box, .fixed-new-playlist .box,.p-list-edit-box .edit-box, .p-list-delete-box .delete-box, .add-music-box .add-box,.music-text-box .text-box{
		width: 60%;
	}
}
@media screen and (max-width: 500px) {
	.music-list2 .list ul > li:before{
		content: '';
	}
	.music-list2 .music .img{
		width: 22%;
	}
	.music-list2 .music .info-holder{
		margin-right: 20px;
	}
	.music-list2 .music img{
		margin-right: 0;
	}
	.music-list2 .music .info-holder{
		margin-right: 0;
	}
	.story-list .list .story{
		width: 70px;
		height: 70px;
		margin: 5px 5px;
	}
	.responsive-player .head .info-holder{
		width: 70%;
	}
	.right-sidebar{
		width: 46%;
	}
	.password-box .content form .password-inp input{
		width: 78%;
	}
	.box .content span{
		margin-bottom: 30px;
	}
	.account-fixed-box .box, .fixed-new-playlist .box,.p-list-edit-box .edit-box, .p-list-delete-box .delete-box, .add-music-box .add-box,.music-text-box .text-box{
		width: 65%;
	}
	.search-box{
		width: 150px;
	}
	.search-box input{
		width: 80%;
	}
	.search-box button{
		width: 20%;
	}
}
@media screen and (max-width: 400px) {
	.music-list .head .name, .music-list2 .head .name, .story-list .head .name{
		font-size: 14px;
	}
	.story-list .head .continue span{
		font-size: 14px;
	}
	.music-list2 .music .img{
		width: 24%;
	}
	.story-list .list .story{
		width: 80px;
		height: 80px;
		margin: 5px 5px;
	}
	.music-list .list .music,.all-artists .music,.all-artists .delete-music{
		width: 70%;
		margin: 10px 15%;
	}
	.footer .footer-links a{
		width: 100%;
	}
	.responsive-player .big-img{
		width: 200px;
		height: 200px;
	}
	.responsive-player .head .info-holder{
		width: 60%;
	}
	.right-sidebar{
		width: 55%;
	}
	.call-us-box form .name input{
		width: 100%;
	}
	.password-box .content form .password-inp input{
		width: 75%;
	}
	.account-fixed-box .box, .fixed-new-playlist .box,.p-list-edit-box .edit-box, .p-list-delete-box .delete-box, .add-music-box .add-box,.music-text-box .text-box{
		width: 100%;
	}
}
@media screen and (max-width: 300px) {
	.music-list .list .music,.all-artists .music,.all-artists .delete-music{
		width: 90%;
		margin: 10px 5%;
	}
	.responsive-player .head .info-holder{
		width: 45%;
	}
	.audio-player .controls .buttons-container .button:first-child,.audio-player .controls .buttons-container .button:last-child{
		display: none;
	}
	.responsive-player .big-img{
		width: 150px;
		height: 150px;
	}
	.right-sidebar{
		width: 70%;
	}
	.music-list2{
		display: none;
	}
	.left-body .header .user span,.left-body .header .user i{
		display: none;
	}
	.left-body .header .user{
		margin-top: 5px;
		padding: 0;
		width: 40px;
		height: 40px;
		border-radius: 500%;
	}
	.left-body .header .user .img{
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
	.app-box > span:not(.app-box > span:first-child){
		display: none;
	}
	.call-us-box form button{
		height: 60px;
	}
	.empty-box .img{
		width: 100%;
	}
	.empty-box .des{
		width: 90%;
	}
	.select-dropdown{
		width: 90%;
	}
}
@media screen and (max-width: 200px) {
	.audio-player .controls .buttons-container .button{
		width: 40px;
		height: 40px;
	}
	.responsive-player .head .info-holder{
		width: 20%;
	}
	.responsive-player .big-img{
		width: 100px;
		height: 100px;
	}
	.side-menu ul li i{
		display: none;
	}
}